<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingshixun.project.eshop.module.history.dao.HistoryDaoMyBatis">

  <insert id="setProductId">
    INSERT INTO history (
      product_id
    )
    VALUES (
      #{productId}
    )
  </insert>
  
  <select id="getProduct" resultType="ProductDTO">
    SELECT
     *
    FROM
      history,qsx_product
    WHERE
      history.product_id=qsx_product.id
  </select>

</mapper>