<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingshixun.project.eshop.module.message.dao.MessageMapper">

  <insert id="saveMessage">
      INSERT INTO
      message
      values(null,#{message.clientIp},
      #{message.sendContent},
      #{message.replyContent},
      #{message.createTime})
  </insert>


</mapper>